.btnSeeAll, .btnBottom {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: .3rem;
  color: #fff;
  cursor: pointer;
  padding: .5rem 2rem;
  max-width: 9rem;
  transition: all .3s ease-out;
}

.contentTitleBtn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

}

.spaceshipsContent {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 1rem;
  margin-bottom: 2rem;
}

.spaceship{
  background-color: transparent;
  padding: .5rem 2rem;
  width: 14rem;
  border: 1px solid #fff;
  border-radius: .4rem;
  text-align: left;
  color: white;
  transition: all .2s ease;
}

.naveHover:hover, .btnBottom:hover {
  cursor: pointer;
  background-color: #2d2d2d;
  user-select: none;
}

.spaceship h3 {
  font-weight: 300;
  font-size: .8rem;
}
.containerBtn {
  display: flex;
  justify-content: space-between;
}
.spaceshipContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & p {
    font-size: .7rem;
  }
  & .contentImage {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  & .imageSpaceship{
    object-fit: contain;
  }
  & .description {
    height: 5rem;
  }
}
.right {
  display: flex;
  justify-content: flex-end;
}
